
.chat {
    display: flex; 
    width: 100vw;
    height: 100vh;
}

.menu {
    position: absolute;
    color: var(--text-color);
    font-size: 2rem;
    right: 10px;
    top: 20px;
    z-index: 2;
}

@media (min-width: 920px) {
    .menu {
        display: none; 
    }
}