.login-form {
  width: 95%; 
  max-width: 450px; 
  background: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem; 
  border-radius: var(--border-radius-lg);
  gap: 4rem; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  max-height: 540px;
}

.login-form img {
  width: 90%;
  max-width: 150px; 
  height: auto; 
}

.login-form input {
  width: 100%;
  border-radius: var(--border-radius-md);
  font-weight: bold;
  font-size: 1.1rem; 
  background: var(--secondary-bg);
  color: var(--text-color);
  border: 1px solid transparent;
  padding: 1rem;
  box-sizing: border-box; 
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.login-form button {
  width: 100%; 
  max-width: 250px;
  padding: 1rem; 
  font-size: 1.2rem; 
  border-radius: var(--border-radius-md);
  font-weight: bold;
  background-color: var(--accent-color);
  color: white;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.login-form button:hover {
  background-color: #0056b3; /* Tom mais escuro */
}

.login-form button:active {
  transform: scale(0.98);
}

.login-form button:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.error-msg {
    text-align: center;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-top: -50px;
    background: rgba(255, 0, 0, 0.288);
    font-size: 1.2rem;
}

@media (orientation: landscape) {
  .login-form {
  width: 70%; 
  height: 80dvh;
  gap: 2rem;
}
}
@media (min-width: 920px) {
  .login-form {
    gap: 4rem;
  }
}
@media (min-height: 900px ) {
    .login-form {
      height: 60dvh;
      gap: 5rem;
    }
}